@{
    ViewData["Title"] = "Home Page";
}
    <link href="~/css/Draggable.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src="~/Content/temp/DGct3EMUQAAVB2n.png" />
<img src="~/Content/temp/DGct7ElUIAA3qBe.png" />

<div id="Draggable">
    <div id="DraggableHeader">
        yes
    </div>
    <img src="~/Content/temp/tumblr_inline_ov9h7hZgKq1rsx9gn_540.png" />
</div>

<script src="~/js/Draggable.js"></script>