@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Draggable.css" rel="stylesheet" />
<link href="~/css/MainPage.css" rel="stylesheet" />
<div>
    <div id="KermitWindow">
        <div class="shadowB Draggable" style="position: absolute; border: 1px solid #000; display:none;">
            <div class="Bi" style="position:absolute; bottom: 0; left: 0; width: calc(100% - 18px);height: 12px;"></div>
            <div class="background">
                <div class="Drag-header">
                    <span class="Bt-Close" onclick="CloseWindow('KermitWindow')"></span>
                    <img src="~/img/UI/DragBar.png" class="spacer" />
                    <h2 class="Content-Title">
                        Kermit
                    </h2>
                </div>
                <div class="Box-Outer">
                    <img src="~/Content/Images/tumblr_inline_ov9h7hZgKq1rsx9gn_540.png" class="Box-Inner" />
                </div>
                <div class="scale"></div>
            </div>
        </div>
    </div>

    <div id="PortfolioFolder">
        <div class="shadowB Draggable" style="position: absolute; border: 1px solid #000; display:none;">
            <div class="Bi" style="position:absolute; bottom: 0; left: 0; width: calc(100% - 18px);height: 12px;"></div>
            <div class="background">
                <div class="Drag-header">
                    <span class="Bt-Close" onclick="CloseWindow('PortfolioFolder')"></span>
                    <img src="~/img/UI/DragBar.png" class="spacer" />
                    <h2 class="Content-Title">
                        Portfolio
                    </h2>
                </div>
                <div class="Box-Outer">
                    <div style="background-color:white; width: 200px; height: 100px;" class="Box-Inner"> </div>
                </div>
                <div class="scale"></div>
            </div>
        </div>
    </div>

    <div style="position:absolute; bottom: 10px; left: 10px;">
        <ul class="Icon-Row">
            <li class="Icon-Item" onclick="OpenWindowCoord('PortfolioFolder',100,100)">
                <div>
                    <div class="Icon-Wrapper">
                        <img src="~/img/UI/Desktop/Folder.png" />
                    </div>
                    <span>Portfolio</span>
                </div>
            </li>
            <li class="Icon-Item" onclick="OpenWindowCoord('KermitWindow',100,100)">
                <div>
                    <div class="Icon-Wrapper">
                        <img src="~/Content/Images/shortcutIcons/tumblr_inline_ov9h7hZgKq1rsx9gn_540.png" />
                    </div>
                    <span>Kermit.png</span>
                </div>
            </li>
        </ul>
        @*<ul class="Icon-Row">

            </ul>*@
    </div>
</div>
<script src="~/js/Windows.js"></script>
