@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Draggable.css" rel="stylesheet" />
<div>
    <div id="Draggable">
        <img src="~/Content/Images/tumblr_inline_ov9h7hZgKq1rsx9gn_540.png" class="shadowB" />
    </div>
</div>

