@model LoginViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Draggable.css" rel="stylesheet" />
<link href="~/css/MainPage.css" rel="stylesheet" />
<div>
    <div id="LoginWindow">
        <div class="shadowB Draggable" style="position: absolute; border: 1px solid #000; display: none;">
            <div class="background">
                <div id="SignUp" style="display:inline-block;">
                    <div class="Drag-header SignUp-Header">
                        <h2 class="Content-Title" style="left:0;">
                            Join the fun, take a seat.
                        </h2>
                        <span class="Bt-Close" onclick="CloseWindow('LoginWindow')" style="right:0;"></span>
                    </div>
                    <div>
                        <div class="SignUp-Image">
                            <img src="/Content/Images/loginSignup/LoginImage.png" class="Box-Inner">
                        </div>
                        <div class="SignUp">
                            <ul class="SignUp-List">
                                <li>Leave comments on portfolio pages</li>
                                <li>Write in the GuestBook</li>
                                <li>And More to come</li>
                            </ul>
                            <form>
                                <input id="Email" type="email" placeholder="Enter an email" class="SignUp-Input" />
                                <input id="Password1" type="password" placeholder="Enter a password" class="SignUp-Input" />
                                <button type="submit" class="SignUp-Input-Button">
                                    <span style="user-select:none;">Create account</span>
                                </button>
                            </form>
                            <span>Already have an account? <u><a onclick="ChangeWindow('SignUp','LogIn')">Log In</a></u></span>
                        </div>
                    </div>
                </div>
                <div id="LogIn" style="display:none;">
                    <div class="Drag-header SignUp-Header">
                        <h2 class="Content-Title" style="left:0;">
                            Stay a while and listen.
                        </h2>
                        <span class="Bt-Close" onclick="CloseWindow('LoginWindow')" style="right:0;"></span>
                    </div>
                    <div>
                        <div class="SignUp-Image">
                            <img src="~/Content/Images/loginSignup/signup4.png" class="Box-Inner" />
                        </div>
                        <div class="SignUp" id="LogInReg">
                            <form>
                                <input id="Email" type="email" placeholder="Enter your email" class="SignUp-Input" />
                                <input id="Password1" type="password" placeholder="Enter your password" class="SignUp-Input" />
                                <button type="submit" class="SignUp-Input-Button">
                                    <span style="user-select:none;">Log In</span>
                                </button>
                            </form>
                            <p>
                                <span>Don't have an account? <u><a onclick="ChangeWindow('LogIn','SignUp')">Sign Up</a></u></span>
                            </p>
                            <p>
                                <span><u><a onclick="QuickSwap('LogInReg','LogInForgot')">Forgot Password?</a></u></span>
                            </p>
                        </div>
                        <div class="SignUp" id="LogInForgot" style="display:none;">
                            <form>
                                <input type="email" placeholder="Enter your email" class="SignUp-Input" />
                                <button type="submit" class="SignUp-Input-Button">
                                    <span style="user-select:none;">Remind Me</span>
                                </button>
                            </form>
                            <span><u><a onclick="QuickSwap('LogInForgot','LogInReg')">Back to login</a></u></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="KermitWindow">
        <div class="shadowB Draggable" style="position: absolute; border: 1px solid #000; display:none;">
            <div class="Bottom-image" style="position:absolute; bottom:0; left:0; width: calc(100% - 18px);height: 12px;"></div>
            <div class="background">
                <div class="Drag-header">
                    <span class="Bt-Close" onclick="CloseWindow('KermitWindow')"></span>
                    <img src="~/img/UI/DragBar.png" class="spacer" />
                    <h2 class="Content-Title">
                        Kermit
                    </h2>
                </div>
                <div class="Box-Outer">
                    <img src="~/Content/Images/tumblr_inline_ov9h7hZgKq1rsx9gn_540.png" class="Box-Inner" />
                </div>
                <div id="resizable" class="scale"></div>
            </div>
        </div>
    </div>

    <div id="TestPortfolioPage">
        <div class="shadowB Draggable" style="position: absolute; border: 1px solid #000; display:inline-block;">
            <div class="Bottom-image" style="position:absolute; bottom: 0; left: 0; width: calc(100% - 18px);height: 12px;"></div>
            <div class="background">
                <div class="Drag-header">
                    <span class="Bt-Close" onclick="CloseWindow('TestPortfolioPage')"></span>
                    <img src="~/img/UI/DragBar.png" class="spacer" />
                    <h2 class="Content-Title">
                        TestBlog
                    </h2>
                </div>
                <div class="Box-Outer">
                    <div style="width:800px; height:500px; overflow-y:auto; overflow-wrap:break-word; border: 1px solid #000;">
                        @await Html.PartialAsync("../Blog/TestBlog.cshtml")
                    </div>
                </div>
                <div class="scale"></div>
            </div>
        </div>
    </div>


    <div id="PortfolioFolder">
        <div class="shadowB Draggable" style="position: absolute; border: 1px solid #000; display:none;">
            <div class="Bottom-image" style="position:absolute; bottom: 0; left: 0; width: calc(100% - 18px);height: 12px;"></div>
            <div class="background">
                <div class="Drag-header">
                    <span class="Bt-Close" onclick="CloseWindow('PortfolioFolder')"></span>
                    <img src="~/img/UI/DragBar.png" class="spacer" />
                    <h2 class="Content-Title">
                        Portfolio
                    </h2>
                </div>
                <div class="Box-Outer">
                    <div style="background-color:white; width: 200px; height: 100px;" class="Box-Inner"> </div>
                </div>
                <div class="scale"></div>
            </div>
        </div>
    </div>

    <div style="position:absolute; bottom: 10px; left: 10px;">
        <ul class="Icon-Row">
            <li class="Icon-Item" onclick="OpenWindowCoord('PortfolioFolder',100,100)">
                <div>
                    <div class="Icon-Wrapper">
                        <img src="~/img/UI/Desktop/Folder.png" />
                    </div>
                    <span>Portfolio</span>
                </div>
            </li>
            <li class="Icon-Item" onclick="OpenWindowCoord('KermitWindow',100,100)">
                <div>
                    <div class="Icon-Wrapper">
                        <img src="~/Content/Images/shortcutIcons/tumblr_inline_ov9h7hZgKq1rsx9gn_540.png" />
                    </div>
                    <span>Kermit.png</span>
                </div>
            </li>
            <li class="Icon-Item" onclick="OpenWindowCoord('TestPortfolioPage',100,100)">
                <div>
                    <div class="Icon-Wrapper">
                        <img src="~/img/UI/Desktop/Text.png" />
                    </div>
                    <span>TestPortfolioPage.txt</span>
                </div>
            </li>
        </ul>
        @*<ul class="Icon-Row">

            </ul>*@
    </div>
</div>
<script src="~/js/Windows.js"></script>
