.Draggable{
    position: absolute;
}
.Draggable-Container{
    position: relative;
}
.DraggableHeader {
    *cursor: url(../img/cursor/grab.4f3c4e6a.svg), auto;
}

.resizable-helper {
    border: 1px dotted #000;
}