body {
    background-image: url('../img/background/low res logo web6.png');
    image-rendering: pixelated;
    background-repeat: repeat;
    font-family: pixel_arial, Arial;
    /*font-family: Arial, pixel_arial;*/
    -webkit-font-smoothing: none;
    color: #000;
}

.Drag-header {
    cursor: url(../img/cursor/grab.4f3c4e6a.svg) auto !important;
    display: flex;
    align-items: center;
    padding: 5px;
    height: 21px;
    width: 100%;
    user-select: none;
}

.shadowB {
    box-shadow: inset 1px 1px 0 0 #fff, 5px 5px 0 rgba(0,0,0,.2);
}

.Box {
    position: absolute;
    user-select: auto;
    background: #FFC9C9;
    border: 1px solid #000;
    height: 12px;
    right: 17px;
    bottom: 0;
    left: 0;
    background: url('../img/ui/bottom.png');
    pointer-events: none;
    content: " ";
    display: block;
}

.background {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    background-color: #FFC9C9;
    width: auto;
}

.Bottom-image {
    background: url(../img/ui/bottom.png);
}

.Box-Inner {
    border: 1px solid #000;
    height: 100%;
    width: auto;
}

.Box-Outer {
    padding: 0px 5px 15px 5px;
    position: relative;
    flex: 1;
    /*overflow: hidden;*/
}

.scale {
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    font-size: 1px;
    background: url('../img/ui/resizer.png') no-repeat 50%;
    background-size: 7px auto;
    bottom: 3px !important;
    right: 5px !important;
    cursor: url(../img/cursor/resize.c8e663b2.svg), auto !important;
}

.Content-Title {
    font-size: 16px;
    font-family: Chicago, DOS, Monofonto;
    -webkit-font-smoothing: none;
    margin: 0;
}

.spacer {
    width: 100%;
    height: 11px;
    margin: 5px;
    cursor: url(../img/cursor/grab.4f3c4e6a.svg), auto !important;
}

.Bt-Close {
    background: url(../img/ui/CloseButton.png);
    background-position-x: 0;
    width: 11px !important;
    height: 11px !important;
    border: none;
    cursor: url(../img/cursor/click.a54d5106.svg), auto !important;
    padding-right: 10px;
}

    .Bt-Close:active {
        background-position-x: 11px;
    }

.Icon-Row {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.Icon-Item {
    width: 76px;
    height: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .Icon-Item > * > * {
        user-select: none;
    }

    .Icon-Item > * > span {
        font-size: 8px;
        background: #D8D7E7;
        border-color: #D8D7E7;
        padding: 0 .35em;
        display: inline-block;
        max-width: 70px !important;
        overflow-wrap: break-word;
    }

    .Icon-Item:active > * > span {
        color: #fff;
        border: 1px dotted #ccc !important;
        background: #000 !important;
    }


.Icon-Wrapper {
    height: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 7px;
}

/*SIGN IN AND SIGN UP*/

.SignUp {
    padding: 10px;
    font-size: 8px;
}

.SignUp-Image {
    margin: 0 10px;
    position: relative;
    flex: 1;
}

.SignUp-Header {
    height: 43px;
    padding: 1.75em;
    justify-content: space-between;
}

.SignUp-List {
    list-style: none;
    padding: 0;
    margin: 0 0 1.25em 0;
}

    .SignUp-List li {
        background: url('../img/ui/bullet.png') no-repeat left 3px;
        padding-left: 1.75em;
        line-height: 2;
    }

.SignUp-Input {
    font-size: 8px;
    padding: 1em;
    border: 1px solid #000 !important;
    cursor: url(../img/cursor/insert.3bf6216c.svg),auto !important;
    display: block;
    width: 100%;
    margin-bottom: 3px;
    border-radius: 0;
    -webkit-appearance: none;
}

.SignUp-Input-Button {
    border: 1px solid #000;
    display: block;
    border-radius: 3px;
    width: 100%;
    background: transparent;
    padding: .5em 0;
    font-family: Chicago;
    text-align: center;
    outline: none;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    margin: .5em 0;
    outline: none !important;
    cursor: url(../img/cursor/click.a54d5106.svg), auto !important;
}

    .SignUp-Input-Button:active {
        background: #000;
        color: white;
        outline: none !important;
    }
