body {
    background-image: url('../img/background/low res logo web6.png');
    image-rendering: pixelated;
    background-repeat: repeat;
    font-family: pixel_arial, Arial;
    /*font-family: Arial, pixel_arial;*/
    -webkit-font-smoothing: none;
    color: #000;
}

.header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;
    line-height: 10px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: background 0.1s ease-in-out 0.5s;
    font-family: Chikagero, DOS, Monofonto;
    /*user-select: none;*/
}

    .header:not(input):not(textarea) {
        user-select: none;
    }

.shadowB {
    box-shadow: inset 1px 1px 0 0 #fff, 5px 5px 0 rgba(0,0,0,.2);
}

.left-side {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.right-side {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.item {
    height: 100%;
    line-height: 20px;
    padding: 0 6px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.link {
    cursor: url(../img/cursor/click.a54d5106.svg), auto !important;
    display: inline-flex;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0 0.35em;
    margin: 0 -2.3px;
}

    .link > * {
        user-select: none;
    }

    .link:active {
        color: #fff;
        background: #000;
    }
    .link:focus {
        outline: none !important;
    }
    .link:disabled {
        color: #808080;
    }

@font-face {
    font-family: 'pixel_arial';
    src: url(../font/pixelarial11.woff2) format('woff2'), url(../font/pixelarial11.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chikagero';
    src: url(../font/chikarego2-webfont.bfc0d735.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOS';
    src: url(../font/PerfectDOSVGA437.b74ea055.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
