@model Poolside.Models.LoginViewModel


<div>
    <form>
        <input type="email" placeholder="Enter your email" class="SignUp-Input" />
        <button type="submit" class="SignUp-Input-Button">
            <span style="user-select:none;">Remind Me</span>
        </button>
    </form>
    <span><u><a onclick="QuickSwap('LogInForgot','LogInReg')">Back to login</a></u></span>
</div>