@model Poolside.Models.LoginViewModel


<div>
    <div>
        <div class="Drag-header SignUp-Header">
            <h2 class="Content-Title" style="left:0;">
                Stay a while and listen.
            </h2>
            <span class="Bt-Close" onclick="CloseWindow('LoginWindow')" style="right:0;"></span>
        </div>
        <div>
            <div class="SignUp-Image">
                <img src="~/Content/Images/loginSignup/signup4.png" class="Box-Inner" />
            </div>
            <div class="SignUp" id="LogInReg">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, false, new { @class = "form-horizontal", role = "form" }))
                {
                    <form asp-action="Login">
                        <input id="Email" type="email" placeholder="Enter your email" class="SignUp-Input" asp-for="Email" />
                        <input id="Password1" type="password" placeholder="Enter your password" class="SignUp-Input" asp-for="Password" />
                        <button type="submit" class="SignUp-Input-Button">
                            <span style="user-select:none;">Log In</span>
                        </button>
                    </form>
                }
                <p>
                    <span>Don't have an account? <u><a onclick="ChangeWindow('LogIn','SignUp')">Sign Up</a></u></span>
                </p>
                <p>
                    <span><u><a onclick="QuickSwap('LogInReg','LogInForgot')">Forgot Password?</a></u></span>
                </p>
            </div>
        </div>
    </div>
</div>
