<!DOCTYPE html>
<html lang="en" class="cursor">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Poolside</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Scrollbar.css" rel="stylesheet" />
    <link href="~/css/Global.css" rel="stylesheet" />
    <link href="~/css/HeaderBar.css" rel="stylesheet" />
    <link href="~/css/Fonts.css" rel="stylesheet" />
</head>
<body onload="startTime()">
    <header style="background-color: #FFC9C9" class="header">
        <span style="height: 20px;">
            <span style="padding: 0 .35em;">
                <img src="~/img/icons/LowresLogo.png" height="12" />
                <span>After Dark</span>
            </span>
            <button class="link"><span style="text-decoration:underline;">A</span>bout</button>
            <button class="link" disabled><span style="text-decoration:underline;">T</span>hemes</button><!--TODO: add themes-->
            <button class="link"><span style="text-decoration:underline;">S</span>ign In/Up</button>
        </span>
        <span class="right-side">
            <!--TODO: add volume slider0-->
            <span id="Close" style="display:none" class="item BT-Fullscreen">
                <input id="Button1" type="button" value="Exit Fullscreen" onclick="closeFullscreen();" />
            </span>
            <span id="Open" style="display:inline-block;" class="item BT-Fullscreen">
                <input id="Button1" type="button" value="Fullscreen" onclick="openFullscreen();" />
            </span>
            <span id="Clock" class="item"></span>
        </span>
    </header>
    <div class="container">
        <main id="containment-wrapper" role="main" style="position:absolute; top:20px; left:0; width:100%; height: calc(100% - 20px);">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Draggable.js"></script>
    <script src="~/js/Clock.js"></script>
    <script src="~/js/Fullscreen.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
