::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: #FFC9C9;
    background-image: url('../img/test2.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    image-rendering: pixelated;
}

::-webkit-scrollbar-track {
    background-image: url('../img/test.png');
    image-rendering:pixelated;
    background-size: 14px;
    border: 1px solid black;
}
